
*.sln
*.csproj
*.config
*.project
*.classpath

*.pdb
*.class

*.dll
*.exe
*.jar


win-exec/*
linux-exec/*
jsrc/hermes/.settings/*

!hermesapi.dll
!hermes.jar
!hermes.py


UPDATE_BINARIES.py
